body {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ebf5df;
    color: #2b2839;
    border-bottom: 6px solid #e07a5f;
    border-radius: 18px;
    align-items: center;
}
